
<p>Hello, <%= @user.name %></p>

<p>You can you have been followed by the user:</p>

<p><%= link_to user_profile_path(@follower.username), style: "-moz-user-select: none; background-image: none; border: 1px solid transparent; cursor: pointer; display: inline-block; font-size: 14px; font-weight: normal; line-height: 1.42857; margin-bottom: 0; padding: 6px 12px; text-align: center; vertical-align: middle; white-space: nowrap; text-decoration: none; border-radius: 3px; background-color: #1ab394; border-color: #1ab394; color: #FFFFFF;" do %></p>
  <%=@follower.username%>
<% end %>
