/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 footer {
   padding: 5px;
   text-align: center;
 }

 label.error {
   color: red;
   margin-top: 5px;
 }

 .follow-btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

 .img-overlay {
   position: absolute;
   top: 105px;
   bottom: 0;
   left: 320px;
   right: 0;
   text-align: center;
 }

 .user-grid-item {
    background-color: #fff;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    margin: 5px;
    max-height: 160px;
    min-height: 160px;
    min-width: 300px;
    text-align: left;
}

.user-profile-overlay {
    color: white;
    display: none;
    font-size: 32px;
    margin-top: 20px;
    margin-left: 20px;
}

 .chat-panel .panel-body {
   height: auto !important;
   overflow-y: hidden !important;
 }

 .wrapper.wrapper-content {
   padding: 40px !important;
 }

 .profile-image {
   border: 4px solid #ffffff !important;
   border-radius: 20% !important;
 }

 .panel-heading {
   padding-bottom: 25px !important;
   margin-bottom: 0 !important;
 }

 .margin-right-5 {
   margin-right: 5px !important;
 }

 .request-closed {
   text-decoration: line-through;
   color: red;
 }

 .nomargin {
   margin: 0;
 }

 .request-box {
   height: 160px;
   padding: 0px;
   font-size: 32px;
   text-align: center;
 }

 .request-button {
   width: 100%;
   height: 100%;
 }

 .m-l {
   margin-left: 25px;
 }

 .m-r {
   margin-right: 25px;
 }

 .m-t {
   margin-top: 25px;
 }

 .m-b {
   margin-bottom: 25px;
 }

 form.tab-form .tab-pane {
   border-color: #ddd #ddd transparent;
   border-style: solid;
   border-width: 0 1px 1px;
   padding: 15px 20px;
   border-bottom: 1px solid #ddd;
 }

 .hidden {
   display: none;
 }

 .bootstrap-datetimepicker-widget > ul {
   list-style-type: none !important;
   margin: 0 !important;
   padding: 0 !important;
 }

 .row {
   margin-right: 0px !important;
 }

 .field_with_errors > input,
 .field_with_errors > select,
 .field_with_errors > textarea {
   border-color: red !important;
 }

 .field_with_errors > input[type=radio],
 .field_with_errors > input[type=file]{
   outline: 1px solid red;
 }

 /* User sign in and sign forms. */
 .border-form-div {
   max-width: 330px;
   padding: 19px 29px 29px;
   margin: 0 auto 20px;
   background-color: #fff;
   border: 1px solid #e5e5e5;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
   box-shadow: 0 1px 2px rgba(0,0,0,.05);
 }
 .border-form-div .form-signin-heading,
 .border-form-div .checkbox {
   margin-bottom: 10px;
 }
 .border-form-div input[type="text"],
 .border-form-div input[type="email"],
 .border-form-div input[type="password"] {
   font-size: 16px;
   height: auto;
   margin-bottom: 15px;
   padding: 7px 9px;
 }

 .pagination {
   float: right;
   margin: 0 !important;
 }

 .right {
   float: right !important;
   margin-top: 0px !important;
   margin-bottom: -10px !important;
 }

 .filter-panel .panel-body {
   padding: 0;
 }

 .filter-panel .navbar {
   border-radius: 0;
   margin-bottom: 0;
 }

 .filter-panel .navbar-default {
   background-color: #ffffff !important;
   border: 0 none;
 }

 .navbar {
   z-index: 950 !important;
 }

 .navbar-default {
   background-color: #f8f8f8;
   border-color: #e7e7e7;
 }

 .navbar-default .navbar-collapse, .navbar-default .navbar-form {
   border-color: #e7e7e7;
 }

 .navbar-form {
   margin-left: -25px !important;
 }

 .navbar-form {
   border: 0 none;
   box-shadow: none;
   margin-left: 0;
   margin-right: 0;
   padding-bottom: 0;
   padding-top: 0;
   width: auto;
 }

 .panel-collapsable .panel-heading {
   cursor: pointer;
 }
